
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #1E50C1;
    --secondary-color: #91a7d9;
    --tertiary-color: #213D49;
    --quaternary-color: #DBCE16;
    --quinary-color: #FFFFFF;
}

body {
    line-height: 1.6;
}

.container {
    display: flex;
    width: 85%;
    margin: auto;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
}

/* HERO SECTION */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--quinary-color);
  padding: 50px 0;
}

.hero-text h2 {
  color: var(--tertiary-color);
  font-size: 48px;
  font-family: "GADUGI";
  font-weight: 500;
}

.hero-text span {
  color: var(--primary-color);
  font-size: 48px;
  font-family: "GADUGI";
  font-weight: bold;
  line-height: 1.2;
}

.hero-text p {
  margin-top: 5px;
  font-family: "GADUGI";
  font-weight: 500;
  width: 40vw;
}

.hero-image img {
  width: 42vw;
}

.cta-button {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: var(--primary-color);
  padding: 30px 45px;
  border-radius: 8px;
  margin-top: 20px;
  font-size: 18px;
  font-family: "GADUGI";
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.811);
}

/* CLIENTS SECTION */
.clients {
  padding: 20px 0;
  background: #fff;
  text-align: center;
}

.clients ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.clients li {
  margin: 0 15px;
  font-size: 24px;
  font-weight: bold;
  color: #6e7d7b;
  letter-spacing: 0.1em;
  position: relative;
  font-family: "Montserrat";
}

/* SERVICES SECTION */

.services-section {
  padding: 50px 0;
  background: #fff;
}

.services-section h2 {
  font-size: 36px;
  margin-left: 10%;
  font-family: "GADUGI";
  font-weight: bold;
}

.services-section span {
  font-size: 36px;
  margin-left: 10%;
  color: #0b63ce;
  font-family: "GADUGI";
  font-weight: bold;
}

.services-cards {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.service-card {
  background: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.279);
  width: 30%;
  text-align: center;
}

.service-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
  font-family: "GADUGI";
  font-weight: bold;
  border-bottom: 1px solid;
}

.service-card p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
  font-family: "GADUGI";
}

/* LEARN-MORE SECTION */

.learn-more-button {
  display: inline-block;
  text-decoration: none;
  color: var(--primary-color);
  background: var(--quinary-color);
  padding: 5px 30px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.453);
  font-family: "GADUGI";
  font-weight: bold;
}

.learn-more-button:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.portfolio-button {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: #0b63ce;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "GADUGI";
  font-weight: bold;
  margin-left: 5%;
}

.portfolio-button:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

/* ABOUT SECTION */

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--quinary-color);
  padding: 50px 0;
}

.about-text {
  width: 50%;
  margin-right: 8%;
  color: var(--tertiary-color);
}

.about-text h2 {
  margin-bottom: 20px;
  font-size: 36px;
  font-family: "GADUGI";
  font-weight: bold;
}

.about-text p {
  font-size: 18px;
  font-family: "GADUGI";
  font-weight: 500;
}

.about-image img {
  border-radius: 50%;
  width: 20vw;
  margin-left: 50%;
}

.about-text .cta-button {
  padding: 10px 20px;
  margin-top: 50px;
  font-size: 16px;
  border-radius: 5px;
}

/* TESTIMONIAL SECTION */

.testimonials-section {
  padding: 50px 0;
  background: var(--quinary-color);
  text-align: center;
  position: relative;
  color: var(--tertiary-color);
}

.testimonials-section h2 {
  font-size: 36px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: "GADUGI";
  font-weight: bold;
}

.testimonial-card {
  background: #fff;
  border-radius: 50px;
  padding: 60px 20px 20px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.303);
  display: inline-block;
  text-align: center;
  max-width: 650px;
  margin-bottom: 10px;
  position: relative;
  overflow: visible;
}

.testimonial-image {
  width: 100px;
  height: 100px;
  margin: 0 auto 10px;
  border: 5px solid var(--primary-color);
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial-image img {
  width: 100%;
  height: auto;
  display: block;
}

.testimonial-card h3 {
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 10px;
  color: #333;
  font-family: "GADUGI";
  font-weight: bold;
}

.testimonial-card p {
  font-size: 18px;
  font-family: "GADUGI";
  font-weight: 500;
  padding: 0 20px;
}

.nav-button {
  color: var(--primary-color);
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  margin: 0 10px;
}

.nav-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
